<%- include('components/_head'); %>
<h2>Welcome! to Profile!</h2>

<form action="" id="formpost">
    <div class="my-4">
        <textarea name="posts" id="posts" cols="30" rows="10"></textarea>
    </div>
    <button>Send!</button>
</form>

<script src="/public/js/script.js"></script>
<script src="/public/js/profile.js"></script>
<%- include('components/_footer'); %>